h1{
  text-align: center;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--banner-text);
  font-weight: bold;
  background-image: url('../assets/images/obama_cuerpo.png');
  
}

.banner-content {
  z-index: 99;
}


@media screen and (width > 768px) {
  .banner{
    background-image: url('../assets/images/obama.png'); /* Imagen para desktop */
  }
}
  
  

  





  
