.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
  }
}

.footer-icons {
  display: flex;
  justify-content: center;
  padding: 0;
  gap: 3rem;
}

a:hover {
  background-color: transparent;
}