.header {
  position: sticky;
  display: flex;
  align-items: center;
  background-color: var(--navbar-bg-color);
  top: 0;
  z-index: 99;
  height: 4em;

  img {
    max-width: 250px;
  }
}

.navbar {
  ul.list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 15px;
  }

}