* {
  box-sizing: border-box;
}

html {
  /* Para evitar el margen superior que oculta la navabar */
  scroll-padding-top: 80px;
}

:root {
  --bg-color: #7d8da0;
  --bg-gradient: linear-gradient(to right, #7d8da0, #fff);
  --navbar-bg-color: #000000;
  --navbar-text-color: #ffffff;
  --burguer-menu-color: #3e3a3a;
  --btn-bg-color: #10cf10;
  --bt-bg-color-hover: rgb(19, 70, 19);
  --banner-text: #e43409;
  --text-title: 'Bad Script', cursive;
  --text-subtitle: 'DM Serif Text', serif;
  --text-paragraph: 'Montserrat Alternates', sans-serif;
}

.content {
  background-color: var(--bg-color);
  background: var(--bg-gradient);
}

a.list-item-hidden {
  display: none;
}

h1,
h2,
p {
  text-align: center;
  margin: 0;
  padding: 0.4em;
}

h1 {
  font-family: var(--text-title);
}

h2 {
  font-family: var(--text-subtitle);
}

p {
  font-family: var(--text-paragraph);
}

@media screen and (width > 768px) {
  a.list-item-hidden {
    display: block;
  }

  .header {
    justify-content: space-between;
  }
}